.header {
   max-height: 74px;
   max-width: 100%;
   background-color: #fff;
   padding: 18px 70px;
   display: flex;
   justify-content: space-between;
}

.header_color {
   background-color: #F3C1F8;
}

.header__auth {
   max-width: 400px;
   margin: 0 auto;
   padding: 70px 0 40px;
 }


@media screen and (max-width: 800px) {
   .header {
     padding: 18px 30px;
   }
}

@media screen and (max-width: 500px) {
   .header {
     padding: 18px 14px;
   }
}