.checkbox__form {
   padding-left: 31px;
   margin-left: 21px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-left: 2px solid #CBCBCB;
}

.checkbox__name {
   font-size: 13px;
   font-weight: 400;
   line-height: 18px;
   padding: 10px 0;
}

.checkbox__input {
   margin-right: 14px;
   width: 34px;
   height: 14px;
   outline: none;
   display: inline-block;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 20px;
   position: relative;
   cursor: pointer;
   background-color: #EBEBEB;
}

.checkbox__input:hover {
   opacity: .6;
}

.checkbox__input:checked {
   background-color: #2be080;
}

.checkbox__input::after {
   position: absolute;
   top: 2px;
   left: 3px;
   background-color: #F5F5F5;
   height: 10px;
   width: 10px;
   content: '';
   border-radius: 50%;
   transition: 0.15s ease;
}

.checkbox__input:checked::after {
   position: absolute;
   top: 2px;
   right: 2px;
   background-color: #fff;
   height: 10px;
   width: 10px;
   content: '';
   border-radius: 50%;
   transition: 0.3s ease;
   transform: translate(18px);
}

@media screen and (max-width: 980px) {
   .checkbox__form {
      padding-left: 21px;
      margin-left: 22px;
   }
}

@media screen and (max-width: 500px) {
   .checkbox__form {
      padding: 46px 0 0;
      border-left: none;
      margin: 0 0 45px;
      justify-content: center;
   }

   .checkbox__name {
      font-size: 11px;
      padding: 0;
   }
}