.burger {
   z-index: 10;
   transition: 0.3s ease;
}

.burger__menu {
   background-color: rgba(0, 0, 0, 0.3);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
}

.burger__container {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   width: 68%;
   height: 100%;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.burger__close-btn {
   border: none;
   background: none;
   background-image: url('../../images/btnCloseBurger.svg');
   width: 32px;
   height: 32px;
   position: absolute;
   top: 23px;
   right: 23px;
   padding: 0;
}

.burger__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 22px;
   margin-top: 160px;
}

.burger__link {
   text-decoration: none;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   padding-bottom: 6px;
   color: #000000;
   transition: 0.3s ease;
}

.burger__link_active {
   text-decoration: none;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
   padding-bottom: 4px;
   border-bottom: 2px solid #000;
   transition: 0.3s ease;
}

.burger__link-account {
   display: flex;
   align-items: center;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   margin-bottom: 90px;
}

.burger__btn-account {
   background-color: transparent;
   background: url('../../images/account-black.svg') no-repeat;
   background-position: right;
   width: 30px;
   height: 30px;
   margin-left: 13px;
}

@media screen and (min-width: 769px) {
   .burger {
      display: none;
   }
}

@media screen and (max-width: 425px) {
   .burger__container {
      width: 100%;
   }

   .burger__list {
      margin-top: 140px;
   }

   .burger__close-btn {
      width: 26px;
      height: 26px;
      top: 13px;
      right: 20px;
   }

}