.footer {
   max-height: 172px;
   padding: 0 70px;
}

.footer__title {
   margin: 0 auto;
   padding: 80px 0 20px;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #A0A0A0;
   text-align: center;
   border-bottom: solid 1px #E8E8E8;
}

.footer__container {
   display: flex;
   justify-content: space-between;
}

.footer__date {
   margin: 20px 0;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}

.footer__list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}

.footer__item {
   margin: 20px 0 20px 20px;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
}

.footer__link {
   text-decoration: none;
   color: black;
}