.login {
   margin: 70px auto;
}

.login__container {
   max-width: 396px;
   margin: 0 auto;
}

.login__title {
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   margin: 36px 0 40px;
}

.login__form {
   display: flex;
   flex-direction: column;
}

.login__label {
   color: #A0A0A0;
   font-size: 10px;
   line-height: 12px;
   font-weight: 400;
   margin-bottom: 9px;
}

.login__input {
   margin-bottom: 20px;
   padding: 0 15px;
   font-weight: 500;
   font-size: 13px;
   line-height: 16px;
   background-color: #F9F9F9;
   border: none;
   height: 46px;
   outline: none;
}

.login__input:focus {
   outline: solid 3px #F3C1F8;
   border-radius: 3px;
}

.login__error {
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #FF4062;
   margin: 0 0 6px;
}

.login__btn {
   margin: 160px 0 18px;
   height: 45px;
   background-color: black;
   border-radius: 3px;
   color: #fff;
   font-size: 14px;
   line-height: 17px;
}

.login__btn:disabled {
   background-color: #F8F8F8;
   color: #C2C2C2;
   transition: 0;
}

.login__container-link {
   margin: 0 auto;
   text-align: center;
   font-size: 14px;
   line-height: 16px;
   font-weight: 500;
}

.login__text {
   color: #A0A0A0;
}

.login__link {
   margin-left: 6px;
}

@media screen and (max-width: 800px) {
   .login {
      margin: 232px auto;
   }
}

@media screen and (max-width: 500px) {
   .login {
      margin: 56px 30px;
   }

   .login__container {
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   .login__logo-link {
      align-self: center;
   }

   .login__title {
      margin: 50px 0 80px;
      align-self: center;
   }

   .login__btn {
      margin: 248px 0 14px;
      font-size: 12px;
      line-height: 14px;
   }

   .login__container-link {
      font-size: 12px;
      line-height: 14px;
   }
}